body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

details .collapse {
    display: none;
}

details[open] .expand {
    display: none;
}

details[open] .collapse {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

.action-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.action-group > *:not(:last-child) {
    margin-right: 1rem;
}
